body{
    margin-top:20px;
    background:#dcdcdc;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.search-result-box .tab-content {
    padding: 30px 30px 10px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none
}

.search-result-box .search-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3eaef;
    margin-bottom: 20px
}
.text-success {
    color: red!important;
}
a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}
.btn-custom {
    background-color: red;
    border-color: brown;
}

.btn-custom, .btn-danger, .btn-info, .btn-inverse, .btn-pink, .btn-primary, .btn-purple, .btn-success, .btn-warning {
    color: #fff!important;
}

footer {
    color: #d71e18;
}

.barra {
    background: rgb(255,0,0);
    background: linear-gradient(8deg, rgb(255, 0, 0) 0%, rgb(228, 0, 0) 35%, rgb(209, 0, 0) 100%);
    position: fixed;
    top: 90%;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
  } 

  .credits {
    position: relative;
    top: 22%;
    left: 43%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
        
  }

  .logo {
    position: relative;
    left: 35%;
  }